
{% extends "managerbase.html" %}

    {% block styleforlandingpage %}
        <style>
            #eachcat{
                padding-left: 20px;
                padding-bottom: 5px;
                padding-top: 5px;
            }

            .cards {
                display: inline-block;
                width: 20%;
            /*	background-color: grey;*/
                border-radius: 5px;
                margin: 10px;
                border: 0.1px solid gray;
                box-shadow: 2px 2px 10px black;  /* left right blur color*/
            }
            
            img{
                width: 100%;
                height: 20%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                margin-bottom: 0;
            }

            .details{
                margin: 0;
                padding: 5px;
                background-color: #d8d3d3;
            }
        </style>
    {% endblock %}

    {% block categoryblock %}
        <!-- add new category button -->
        <div id="eachcat"><a href="/addcategory">Add new category</a></div>
        <!-- <p> {{c1}} </p> -->
            {% for c in c1 %}
                <div id="eachcat"><a href="/managereachcategory/{{c.category_id}}">{{ c.category_name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/updatecategory/{{c.category_id}}">Update</a>&nbsp;<a href="/reallydeletecategory">Delete</a></div>
            {% endfor %}
    {% endblock %}

    {% block productblock %}
        <!-- add new product -->
        <div class="cards">
            <div><img src="{{url_for('static', filename='placeholderimage.jpeg')}}"></div>
            <div class="details">
                <div>&nbsp;</div>
                <a href="/addproduct_from_manager_landingpage">Add new product</a>
                <div>&nbsp;</div>
            </div>
        </div>
        

        {% for p in p1 %}
        <div class="cards">
            <div><img src="static/placeholderimage.jpeg"></div>
            <div class="details">
                <div>{{ p.product_name }}</div>
                <div>Price: {{p.price_unit}} / {{p.unit}}</div>
                <div>
                    <a href="/updateproduct/{{p.product_id}}">Update</a>
                    <!-- <a onclick="myalert()" href="/deleteproduct/{{p.product_id}}/0">Delete</a> -->                    
                    <a href="/really">Delete</a>                    

                </div>
            </div>
        </div>
        {% endfor %}
    {% endblock %}