<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #mgcss{
            border: 2px solid black;
            position: relative;
            top: 200px;
            left: 505px;
            height: 126px;
            width: 170px;
            padding: 10px;
            padding-bottom: 19px;
        }
    </style>
</head>
<body>
    <div id="mgcss">
    <form action="/loginmanager" method="POST">
        username:
        <input type="text" name="username" required><br>
        password:
        <input type="text" name="password" required><br><br>
        position:
        <input type="text" name="position" required><br><br>

        <button type="submit"> submit </button><br>
    </form>
    <a href="/">Back</a>
    </div>
</body>
</html>