<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="POST">
        product name:
        <input type="text" name="item" required>

        <button type="submit">search</button>
    </form><br>
    <form action="/searchperticularcategory" method="POST">
        category name:
        <input type="text" name="item" required>

        <button type="submit">search</button>
    </form><br><br>
    <a href="/homepage">Home</a>
</body>
</html>